@mixin flexRowCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin primaryLink {
  text-decoration: none;
  color: $primaryTextColor;
  font-weight: 700;
}
